html{
  height: 100%;
}

body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content{
  margin-top: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1180px;
}

.align-center{
  margin: auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.btn{
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid;
  padding: .375rem .75rem;
  text-decoration: none;
}

.btn.disabled{
  opacity: 0.65;
  background-color: transparent;
}

a{
  text-decoration: none;
  opacity: 0.8;
}

a:hover{
  /* text-decoration: none; */
  opacity: 1;
}

.nav-link{
  opacity: 0.6;
  padding: 0.5rem;
  margin: auto;
}

.nav-link.active{
  opacity: 0.8;
}

.nav-link:hover{
  opacity: 1;
  text-decoration: none;
}



.card{
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}

.navbar{
  padding: .5rem 1rem;
  font-size: 125%;
}

.footer{
  margin-top: auto;
  padding: .5rem 1rem;
  font-size: 125%;
}
