:root {
  --main-color: #3d4f5d;
  --secondary-color: white;
  --link-color: #3d4f5d;
}

.bg-main{
  background-color: var(--main-color);
}

.nav-link, .nav-link:hover{
  color: var(--secondary-color);
}

.navbar-brand, .navbar-brand:hover{
  color: var(--secondary-color);
}

.button-dark{
  color: var(--primary-color);
  background-color: transparent;
}

.button-dark:hover{
  color: #ffffff;
  background-color: var(--main-color);
}

a, a:hover{
  color: var(--link-color);
}

.navbar, .navbar-toggler {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.project-card {
  color: #fff;
}

/* .project-card a{
  color: var(--secondary-color);
} */

.bg-main a {
  color: white;
}

#tag-list{
  margin-bottom: 1rem;
  padding: 1rem;
  color: #fff;
}

#tag-list ul{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0.1rem;
}

#tag-list li{
  margin-bottom: 0.2rem;
  font-size: 120%;
}

/* #tag-list a{
  color: var(--secondary-color);
} */

#main-post{
  color: #fff;
  padding: .5rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

/* #main-post a{
  color: var(--secondary-color);
} */

#post-list{
  list-style-type: none;
  padding-left: 0px;
}

#blog-pagination .button{
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#blog-pagination {
  margin-bottom: 1rem;
}

.icon{
  height: 30px;
}

#feed-icon{
  width: 30px;
}

#github-icon{
  width: 37px;
}

#disqus_thread{
  margin-left: -0.15rem;
  margin-right: -0.15rem;
}

.highlight {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.highlight pre {
  margin-bottom: 0;
}
