.bg-main{
  background-color: #343a40;
}

.nav-link, .nav-link:hover{
  color: white;
}

.navbar-brand, .navbar-brand:hover{
  color: white;
}

.button-dark:hover{
  color: white;
  background-color: #343a40;
}

a, a:hover{
  color: black;
}









#tag-list{
  margin-bottom: 1rem;
  padding: 1rem;
}

#main-post{
  color: #fff;
  padding: .5rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

#main-post a{
  color: #fff;
}

#post-list{
  list-style-type: none;
  padding-left: 0px;
}

#blog-pagination .button{
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.icon{
  height: 30px;
}

#feed-icon{
  width: 30px;
}

#github-icon{
  width: 37px;
}

#disqus_thread{
  margin-left: -0.15rem;
  margin-right: -0.15rem;
}
