html{
  font-size: 125%;
}

.main-content{
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.footer{
  margin-top: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a, a:hover{
  color: black;
}

.main-post, .main-post a{
  color: #fff !important;
}

.post-list{
  list-style-type: none;
  padding-left: 0px;
}

.blog-pagination .btn{
  border-radius: 2rem;
}

.align-center{
  margin: auto;
}

.icon{
  height: 30px;
}

.feed-icon{
  width: 30px;
}

.github-icon{
  width: 37px;
}
