<nav class="navbar navbar-expand-lg navbar-ligth bg-main" id='navbar'>
  <div class="container">
  <a class="navbar-brand" href="{{ url(site.data.navigation[0].link) }}"><h2>{{ site.config['name'] }}</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% for item in site.data.navigation[1:] %}
        {% if url(item.link) == page.url %}
        <li class='nav-item active'>
          <a class="nav-link active" href="{{ url(item.link) }}">{{ item.name }}</a>
        </li>
        {% else %}
          <li class='nav-item' >
            <a class="nav-link" href="{{ url(item.link) }}">{{ item.name }}</a>
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
  </div>
</nav>

<!-- <nav class="navbar bg-main" id="navbar">
  <div class="container flex p0">
    <div class="col-md-4 col-sm-12 flex p0">
      <a class="nav-title" href="{{ url(site.data.navigation[0].link) }}">{{ site.data.navigation[0].name }}</a>
    </div>
    <div class="col-md-8 col-sm-12 flex p0">
      {% for item in site.data.navigation[1:] %}
        {% if url(item.link) == page.url %}
          <a class="nav-link active" href="{{ url(item.link) }}">{{ item.name }}</a>
        {% else %}
          <a class="nav-link" href="{{ url(item.link) }}">{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
    </div>
</nav> -->
