{% extends "minimal.html" %}

{% block title %}
<title>{{site.config.name}} - {{ page.title }}</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <h1>{{ page.title }}</h1>
      <span>{{ date_to_string(page.date) }}</span>
      <span style='float:right'>
        Tags:
          {% for tag in page.tags %}
            <a href="{{ url("tags." + tag + ".1") }}">{{ (site.tags|selectattr('slug', 'equalto', tag)|list|first).name }}</a>
          {% endfor %}
      </span>

      {{ page.content }}

      <div id="disqus_thread" class='card'></div>
    </div>
  </div>

{% endblock content %}

{% block js %}
{{ super() }}
<script>
  var disqus_config = function () {
  this.page.url = window.location.href;
  this.page.identifier = "{{page.slug}}";
  };
  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://giacomocaironi.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
{% endblock js %}
