---
layout: minimal
pagination:
  enabled: true
  per_page: 5
---
<div class="row">
  <div class="col-md-12 col-lg-9">
    <h1>{{page.title}}</h1>
    <hr>
    <ul class='post-list'>
      {% assign filtered_posts = paginator.posts %}
      {% for post in filtered_posts %}
        {% include post_front.html %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-12 col-lg-3">
    {% include tag_cloud.html %}
  </div>
</div>

<nav class='blog-pagination'>
  {% if paginator.previous_page %}
    <a class='btn btn-outline-dark' href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <a class='btn btn-outline-dark disabled' href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% endif %}

  {% if paginator.next_page %}
    <a class='btn btn-outline-dark' href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <a class='btn btn-outline-dark disabled' href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
</nav>
